In [145]:
import pandas as pd 
import numpy as np
import re

  
df = pd.read_csv('crimes.csv', delimiter=None)

In [44]:


#formatted_data = df['Rape']
#five_years_average_drop=df[df['Fiscal Year'].astype(str)=='5-years average']

#print(formatted_data)

In [146]:
#formatted_data=df[df['Fiscal Year'].str.contains('average')]
#df = drop(columns=formatted_data)

In [144]:
df['index'] = df['Fiscal Year'].str[0:2].values
df['index']=df['index'].astype('int32')
print(df)

   Fiscal Year  Rape  Attempt rape  Trafficking  Abortion  Polygamy  \
0      1996/97   112            34          117        74       101
1      1997/98   181            34          130       101       135
2      1998/99   141            18          110        81        96
3    1999/2000   186            33          120        89        96
4      2000/01   122            35           92        55        75
6      2001/02   129            21           40        14        51
7      2002/03   157            18           55        15        69
8      2003/04   154            19           56         8        44
9      2004/05   188            25           72        11        66
10     2005/06   195            38           97        14        65
12     2006/07   317            70          112         3        94
13     2007/08   309            73          123        13       122
14     2008/09   391            75          139        12       170
15     2009/10   376           101          161         8       146
16    2010/11*   233            68           74         8        96

    Child marriage Domestic violence  Total  index  ...                      \
0                5               337    780     19  ... NaN NaN NaN NaN NaN
1                3               228    812     19  ... NaN NaN NaN NaN NaN
2                1               432    879     19  ... NaN NaN NaN NaN NaN
3                5               711  1,240     19  ... NaN NaN NaN NaN NaN
4                1               449    829     20  ... NaN NaN NaN NaN NaN
6                0               410    665     20  ... NaN NaN NaN NaN NaN
7                2               569    885     20  ... NaN NaN NaN NaN NaN
8                3               922  1,206     20  ... NaN NaN NaN NaN NaN
9                1               730  1,093     20  ... NaN NaN NaN NaN NaN
10               1               939  1,349     20  ... NaN NaN NaN NaN NaN
12               7             1,100  1,703     20  ... NaN NaN NaN NaN NaN
13               4               881  1,525     20  ... NaN NaN NaN NaN NaN
14               2               968  1,757     20  ... NaN NaN NaN NaN NaN
15               7               983  1,782     20  ... NaN NaN NaN NaN NaN
16               2               662  1,143     20  ... NaN NaN NaN NaN NaN


0  NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN NaN
12 NaN NaN NaN NaN NaN
13 NaN NaN NaN NaN NaN
14 NaN NaN NaN NaN NaN
15 NaN NaN NaN NaN NaN
16 NaN NaN NaN NaN NaN

[15 rows x 25 columns]