In [39]:
import pandas as pd 
import numpy as np

df = pd.read_csv('abt1.csv')
df=df.dropna(how='all', axis='columns')
df.head()

   Period Age_of_woman Induced_abortions
0    2000        11-14                74
1    2000        15-19              3107
2    2000        20-24              4548
3    2000        25-29              3399
4    2000        30-34              2496

In [56]:
df['index']=df['Period'].astype(str).str[2:4]
df['index']=df['index'].astype('int32')

Target_data=df[df['index']==0]
sum_abt=Target_data['Induced_abortions'].astype('int64').sum()
print(sum_abt)
Target_data=df[df['index']==1]
sum_abt2=Target_data['Induced_abortions'].astype('int64').sum()
print(sum_abt2)
Target_data=df[df['index']==2]
sum_abt3=Target_data['Induced_abortions'].astype('int64').sum()
print(sum_abt3)

result=[]
result.extend((sum_abt,sum_abt2,sum_abt3))
print('The maximum number of abortions was' + str(max(result)))

16103
16410
17380
The maximum number of abortions was17380